:root {
    --green-hard: #176b13;
    --green-first: #aad047;
    --green-second: #89c64d;
    --green-third: #64a446;
}

body{
    background-color: rgba(238, 238, 238, 0.644) !important;
}

.custab {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;

}

.container {
    display: flex;
    margin: auto;
}

.logo-sily {
    width: 30%;

}

nav div .img-logo {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
}

nav div .img-logo img {
    vertical-align: middle;
    width: 200px;
    height: auto;
}

nav {
    background-color: #fff;
    z-index: 100;
}

.navbar {
    width: 100%;
    position: fixed;
}

button .navbar-toggler-icon {
    background-image: url('../img/menu.png');
}

.nav-item .nav-link {
    text-decoration: none;
    color: #444444;
    font-size: 18px;
}

.nav-item .nav-link:hover {
    text-decoration: none;
    color: var(--green-hard);
    font-weight: 500;
    border-bottom: 1px solid var(--green-hard);
}


.boxStyle {
    padding: 20px;
    border-radius: 15px;
    border-top: 5px solid #dc3545;
    border-bottom: 5px solid rgba(30,30,30, .4);
}

.width50 {
    width: 50%;

}

.width30 {
    width: 20%;
}

.width70 {
    width: 80%;
}

.floatL {
    float: left;
}

.width50 {
    width: 50%;
}

.floatR {
    float: right;
}

.width100 {
    width: 300px;
}

.btn-space {
    margin-top: 6px;
}


.container div .flex-div {
    display: flex;
}

.btn-width {
    width: 85px;
}



.btn-editar {
    width: 40px;
    height: 40px;
    background-image: url('../img/editar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    
}


.btn-eliminar {
    width: 40px;
    height: 40px;
    background-image: url('../img/eliminar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.btn-descargar {
    width: 40px;
    height: 40px;
    background-image: url('../img/download.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}