:root{
    --green-hard: #176b13;
    --green-soft: #64a446;
  }
body {
    background: #eee;
    color: #666;
}

.width30 label{
    font-weight: bold;
}

.width50 {
    width: 50%;
}

.btn {
    width: 100%;
    border-radius: 0px;
}

.row {
    margin-left: 0%;
    margin-right: 0%;
}

.boxStyle {
    padding: 20px;
    border-radius: 15px;
    border-top: 5px solid #dc3545;
    border-bottom: 5px solid rgba(30,30,30, .4);
}

.logo-sily {
    width: 30%;
}

/*navegacion*/
nav div .img-logo{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
}

nav div .img-logo img {
    vertical-align: middle;
    width: 200px;
    height: auto;
}

nav {
    background-color: #fff;
    z-index: 100;
}

.navbar {
    width: 100%;
    position: fixed;
}

button .navbar-toggler-icon {
    background-image: url('../img/menu.png');
}

.nav-item .nav-link {
    text-decoration: none;
    color: #444444;
    font-size: 18px;
}

.nav-item .nav-link:hover {
    text-decoration: none;
    color: var(--green-hard);
    font-weight: 500;
    border-bottom: 1px solid var(--green-hard);
}


@media (max-width: 1420px) {
    .home {
    max-width: 800px;
    min-width: 360px;
    height: auto;
    margin: 0 auto;
    }
    .home_2 {
        max-width: 800px;
        min-width: 360px;
        height: auto;
        margin: 20px auto;
    }
}

@media (min-width: 1420px) {
    .home {
        min-width: 50%;
        float: left;
    }
    
    .home_2 {
        float: right;
        min-width: 50%;
    }
}


.width30 {
		width: 30%;
	}
	.width70 {
		width: 70%;	
	}
	.floatL{
		float: left;
	}
	.width50{
		width: 50%;
	}
	.floatR{
		float: right;
	}
        .width100{
		width: 100%;
	}

.button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

.title-paypal {
    width:50%;
}
.button-paypal{
    width:50%;
    margin: 0 auto;
    max-width: 250px;
}

