.header{
    height: 720px;
}

.header-video{
    height: 720px;
}

.header-overlay{
    width: 100%;
    height: 720px;
    position: absolute;
    background: rgba(62, 112, 61, .3);
    z-index: 0;
}


.header-content h2{
    font-size: 24px;
}

.header-content p {
    font-size: 18px;
    color: #fff;
}

.header-content a{
    background-color: rgba(255, 255, 255, .3);
    font-size: 16px;
}
.aboutus--title h3{
    font-size: 28;
}

.aboutus--title p{
    font-size: 18px;
}

.aboutus-container p {
    font-size: 18px;
}

.plague--container h3{
    font-size: 20px;
}


.service-title h2{
    font-size: 25px;
}
.service-container .plague--img{
    width: 85px;
}

nav div .img-logo{
    height: 80px;
}

nav div .img-logo img{
    vertical-align: middle;
    width: 230px;
    height: auto;
}
